<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS To-Do List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="TodoController">
        <h2>My To-Do List</h2>
        <input type="text" ng-model="newTodoText" placeholder="Add a new task">
        <button ng-click="addTodo()">Add Task</button>

        <ul>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done">
                <span ng-class="{ 'done': todo.done }">{{ todo.text }}</span>
                <button ng-click="removeTodo(todo)">Remove</button>
            </li>
        </ul>

        <p>Remaining tasks: {{ remaining() }}</p>
    </div>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"499e684b7b1043878977050a0a606794","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>
</html>